@charset "UTF-8";
/* CSS Document */

<!-- Final project summary -->
#leftFinal {
	height:650px;
	width: 21%;!important
	position: absolute; 
	left: 30px;
	top: 0px;
	border-top: 0.2px solid black;
	overflow-y: scroll;
	padding:5px 0px 5px 0px;
	text-align:left;
	background-color:rgba(242,242,242,0.5);
}
#leftFinal p{
	word-wrap: break-word; 
	word-break: normal; 
}
#leftFinal::-webkit-scrollbar {
	width: 0 !important;
}
#rightFinal {
	height:650px;
	width: 73%;
	float:right;
	right: 30px; 
	top: 0px;
	background-color:rgba(242,242,242,0.2);
}

.region-map {
  fill: #eee;
  stroke: #505050;
  stroke-width: .2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*
div::-webkit-scrollbar{
	width:0.2px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
div::-webkit-scrollbar-track{
	background-color:white;
	border: none;
	-webkit-box-shadow:none;
}
div::-webkit-scrollbar-thumb:vertical{
	width:0.2px;
	background-color: #000000;
}*/

/* charts */
.chart1 {
	background-color:black;
}

/* scatter plot matrix */
.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

#matrix .axis path {
  display: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
